<% if @restaurants.any? %>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <div><%= link_to restaurant.name, restaurant_path(restaurant) %></div>
      <div><%= restaurant.description %></div>
      <div><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></div>
      <div><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></div>
      <div><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></div>
      <!-- Check for reviews and list them -->
    </li>
  <% end %>
  </ul>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<%= link_to 'Magically Add a restaurant', new_restaurant_path %>